extends layout.pug
block content
	h1(class="text-center") Welcome
	img(src="../public/images/tott-logo.jpeg" class="mx-auto d-block")
	h3(class="text-center") Management Application for the Freedom Ride Initiative
